@import url("reset.css");

@font-face {
    font-family: AGaramondPro;
    font-weight: 400;
    src: url(../assets/AGaramondPro-Regular.woff);
}

:root {
    height: 100%;
    --kb-cyan: #9cdbd9;
    --kb-red: #ef6079;
    --kb-gold: #cba052;
    --kb-beige: #ecdcc8;
    --kb-light-beige: #feeeda;
    --kb-gray3: #7a847f;
    --kb-gray4: #414644;
    --kb-gray: #e3e6e5;
    --kb-web-gray: #f3f5f6;
    --kb-link-active: #2B4B9A;
    --kb-link-visited: #723572;
    --kb-link-hover: #A5112B;
    --kb-link-inactive: #7A847F;
    --kb-link-black: #333333;
    --reader-header-inner-height: 24px;
    --reader-footer-inner-height: 16px;
    --reader-header-padding: 1em;
    --reader-footer-padding: 1em;
    --reader-header-height: calc(var(--reader-header-padding) * 2 + var(--reader-header-inner-height));
    --reader-footer-height: calc(var(--reader-footer-padding) * 2 + var(--reader-footer-inner-height));
}

body {
    min-height: 100%;
    overflow: hidden;
    touch-action: pan-x pan-y;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: AGaramondPro, Arial, Helvetica, sans-serif;
    font-weight: 700;
    /* bold */
    font-style: normal;
}

footer,
.header-footer {
    background-color: var(--kb-light-beige);
    margin: 0;
    position: fixed;
    width: calc(100% - 2em);
}

.header-footer {
    padding: var(--reader-header-padding);
    height: var(--reader-header-inner-height);
    display: flex;
}

.header-footer h1 {
    height: 100%;
    font-size: 1.5em;
    flex-grow: 1;
}

footer {
    padding: var(--reader-footer-padding);
    bottom: 0;
    height: var(--reader-footer-inner-height);
    overflow: hidden;
}

#debug {
    overflow-y: auto;
    position: fixed;
    left: 0;
    width: calc(100% - 2em);
    padding: 1em 1em 0 1em;
    margin: 0;
    bottom: 0px;
    height: 250px;
    background-color: var(--kb-light-beige);
    display: none;
}


#debug div {
    padding: 4px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

a {
    color: var(--kb-link-black);
}

a:hover {
    color: var(--kb-link-hover)
}

.header-footer a {
    text-decoration: none;
    font-size: 1.5em;
}

.header-footer button,
.header-footer select,
.header-footer a,
.header-footer span {
    height: 100%;
    display: inline-block;
    border-radius: 0;
    border-width: 1px;
    border-color: black;
}

.header-footer button {
    border-radius: 4px;
}

.header-footer button:active {
    outline: 1px solid var(--kb-link-active);
    background-color: var(--kb-gray);
}


.header-footer button:hover {
    outline: 1px solid var(--kb-link-active);
}

.header-footer button:hover>img {
    filter: invert(14%) sepia(25%) saturate(7340%) hue-rotate(219deg) brightness(86%) contrast(117%);
}


.header-footer a>img,
.header-footer button>img {
    margin-top: 2px;
    height: calc(100% - 4px);
}

.header-footer .centered {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.header-footer button#rate-percentage {
    padding: 3px;
    border: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-color: var(--kb-web-gray);
    border-radius: 0;
    cursor: default;
    user-select: none;
    z-index: 1;
}

.header-footer #voice-select {
    max-width: calc(100% - 160px);
}

.header-footer #play-readaloud {
    margin-right: 1em;
    margin-left: 0.25em;
}

.header-footer #rate-slower,
.header-footer #rate-faster {
    padding-inline-start: 2px;
    padding-inline-end: 2px;
}

.header-footer #rate-slower {
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.header-footer #rate-faster {
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.header-footer input[type='radio'] {
    display: none;
}

.header-footer input[type='radio'] + label {
    cursor: pointer;
    padding-top: 6px;
    margin-left: 1em;
}

.header-footer input[type='radio']:checked + label {
    cursor: default;
    font-weight: bold;
    text-decoration: underline;
}


#wrapper {
    padding-top: var(--reader-header-height);
    height: calc(100vh - (var(--reader-footer-height) + var(--reader-header-height)) - 8px);
    height: calc(100dvh - (var(--reader-footer-height) + var(--reader-header-height)) - 8px);
    display: flex;
    width: 100%;
    margin: 0;
}

#wrapper button  {
    height: 100%;
}

main#listing {
    width: 100%;
    height: calc(100vh - (var(--reader-footer-height) + var(--reader-header-height)) - 8px);
    height: calc(100dvh - (var(--reader-footer-height) + var(--reader-header-height)) - 8px);
    padding-top: var(--reader-header-height);
    overflow-y: auto;
}

ul#boek-entry-list {
    padding: 1em;
}

ul#boek-entry-list li {
    margin: 1em;
}


#container {
    contain: content;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.readium-navigator-iframe {
    width: 100%;
    height: 100%;
    border-width: 0;
}

#no-voices-found {
    font-size: 0.8em;
    display: none;
}