@import url("reset.css");
@import url("header-footer.css");

@font-face {
    font-family: AGaramondPro;
    font-weight: 400;
    src: url(../assets/AGaramondPro-Regular.woff);
}

:root {
    height: 100%;
    --kb-cyan: #9cdbd9;
    --kb-red: #ef6079;
    --kb-gold: #cba052;
    --kb-beige: #ecdcc8;
    --kb-light-beige: #feeeda;
    --kb-gray3: #7a847f;
    --kb-gray4: #414644;
    --kb-gray: #e3e6e5;
    --kb-web-gray: #f3f5f6;
    --kb-link-active: #2B4B9A;
    --kb-link-visited: #723572;
    --kb-link-hover: #A5112B;
    --kb-link-inactive: #7A847F;
    --kb-link-black: #333333;
    --reader-header-inner-height: 24px;
    --reader-footer-inner-height: 128px;
    --reader-header-padding: 1em;
    --reader-header-height: calc(var(--reader-header-padding) * 2 + var(--reader-header-inner-height));
    --reader-footer-height: var(--reader-footer-inner-height);
}

body {
    min-height: 100%;
    overflow: hidden;
    touch-action: pan-x pan-y;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: AGaramondPro, Arial, Helvetica, sans-serif;
    font-weight: 700;
    /* bold */
    font-style: normal;
}


a {
    color: var(--kb-link-black);
}

a:hover {
    color: var(--kb-link-hover)
}

#wrapper {
    padding-top: var(--reader-header-height);
    height: calc(100vh - (var(--reader-footer-height) + var(--reader-header-height)) );
    height: calc(100dvh - (var(--reader-footer-height) + var(--reader-header-height)) );
    display: flex;
    width: 100%;
    margin: 0;
}

#wrapper button  {
    height: 100%;
}

main#listing {
    width: 100%;
    height: calc(100vh - (var(--reader-footer-height) + var(--reader-header-height)) );
    height: calc(100dvh - (var(--reader-footer-height) + var(--reader-header-height)) );
    padding-top: var(--reader-header-height);
    overflow-y: auto;
}

ul#boek-entry-list {
    padding: 1em;
}

ul#boek-entry-list li {
    margin: 1em;
}


#container {
    contain: content;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.readium-navigator-iframe {
    width: 100%;
    height: 100%;
    border-width: 0;
}
